h1, h2 {
  font-family: Lato;
}

.scroll-container {
  width: 100%;
  height: 500px;
  overflow: scroll;
}

.scroll-element {
  width: 100%;
  background: red;
  color: white;
  padding: 20px 10px;
  margin-bottom: 20px;
}